/* GLOBAL */
pb {
font-family: arial, helvetica, sans-serif;
font-size: 11pt;
color: green;
content: "{page "attr(n)"}";
}

/* SECTIONS */
TEI {
display: block; 
margin-top:2em;
background-color:#F5F5F5;
content: "FILE ID: " attr(xml\:id);
font-size: 12pt;
font-family:arial, helvetica, sans-serif;
margin-left:1em;
}

/* TEI Header */ 
 publicationStmt, publicationStmt date, publisher, seriesStmt, title, editor, sourceDesc, sourceDesc, sourceDesc date, author, recipient, 
 repository, collection, textClass, keywords
   {
display: block;
font-family:arial, helvetica, sans-serif;
font-size:12pt;
margin-left: 2em;
}

titleStmt title {
font-family: garamond, times, serif;
font-size:14pt;
margin-top: 1em;
text-align:center;
}

respStmt {
font-family: arial, helvetica, sans-serif;
font-size:12pt;
text-align:left;    
margin-left: 3.5em;
}

respStmt note {
font-size: 12pt;
}

respStmt date {
content: attr(when);
}

publisher {
content: "Publisher: ";    
}

publicationStmt date {
content: "Publication Year: ";
}
licence {
display: none;
}
availability {
display: none;
}
revisionDesc {
display:none;
}

sourceDesc date[type="creation"] { 
content: "Written: "attr(when);
}

sourceDesc author { 
content: "Author: ";
}

sourceDesc recipient {
 content: "Recipient: ";
}
sourceDesc title {
content: "Head: ";
}

msIdentifier repository {
 content: "Repository: ";   
}
msIdentifier collection {
content: "Collection: ";
}

seriesStmt title {
    content: "Edition: ";
}
seriesStmt editor {
    content: "Editors: ";
}

encodingDesc {
display:none;  
}

keywords {
content: "Keywords:";
}
keywords item {
    display: block;
    font-family: arial, helvetica, sans-serif;
    font-size: 12pt;
    color: purple;
    margin-left: 3em;
}

sourceDesc idno, sourceDesc ab {
display: none;
}

/* BLOCKS */
div[type="docbody"], postscript, salute, dateline, closer, note {
display: block;
font-family: Garamond, "Times New Roman", serif;
font-size: 12pt;
padding:.5em;
}

salute, closer {
font-size: 12pt;
}

dateline {
text-align: right;
}

div[type="docbody"]>p {
display: block;
font-family: Garamond, "Times New Roman", serif;
font-size: 12pt;
padding:.5em;
}

div[type="insertion"]{
 display: block;
font-family: Garamond, "Times New Roman", serif;
font-size: 12pt;
padding:.5em;   
content: "Insertion: ";
} /* come back to figure out numbering for insertions, like for footnotes */

div[type="docback"], note {
display: block;
font-family: arial, helvetica, sans-serif;
font-size: 11pt;
padding:.5em;
counter-reset: footnotes;
}

note[type="source"] {
display: block;
font-family: arial, helvetica, sans-serif;
font-size: 11pt;
padding:.5em;
} 

note[type="doctype"] {
content: "Document Type:";
} 

note[type="repository"] {
content: "Repository:";    
}

note[type="collection"] {
content: "Collection:";
}

note[type="condition"] {
content: "Condition:";
} 

note[type="address"] {
content: "Address:";
} 

note[type="endorsement"] {
content: "Endorsement:";
} 

note[type="notation"] {
content: "Notation:";    
}

note[type="fn"]::before {
content: "Note "attr(xml\:id)":";
font-size: 11pt;
font-style: italic;
text-decoration: underline;
} 
/* come back to this for numbering footnotes! */


/* INLINES */
del, add, hi, persRef, unclear, gap, ptr, space, reg, expan
{
display: inline;
}

del {
color: red;
text-decoration: line-through;
}

del unclear {
content: "illegible deletion";
text-decoration: line-through;
color: red;
}

add:before {
content: "^";
color: blue;
}

add {
color: blue;
}

add:after {
content: "^";
color: blue;
}

hi[rend="underline"] {
text-decoration: underline;
}

hi[rend="superscript"] {
vertical-align:text-top;
font-size:9pt;
}

hi[rend="italic"] {
font-style:italic;    
}

persRef {
color: purple;
content: "["attr(ref)"] " ;
}

unclear {
color: fuchsia;
}

unclear:before {
content: "[";
}

unclear:after {
content: "]";
}

unclear[cert="low"]:after {
color: fuchsia;
content: "?]";
}

unclear:empty {
content:"illegible";
font-family: arial, helvetica, sans-serif;
font-size: 11pt;
font-style:italic;
}

gap {
color: grey;
font-family: arial, helvetica, sans-serif;
font-size: 11pt;
}

ptr[type="fn"] {
content: "[note " attr(n)"]";
color:navy;
vertical-align:+1pt;
font-family:arial, helvetica, sans-serif;
font-size: 9pt;
text-decoration: underline dotted navy;
}

space {
content: "[author left blank]";
font-family:arial, helvetica, sans-serif;
font-size:11pt;
color:teal;
}

reg {
color: orange;    
}

reg:before {
content:" <";
}

reg:after {
content:">";
}

expan {
color: orange;    
}

expan:before {
content:" <";
}

expan:after {
content:">";
}




/*
damage:after {
content: " [damage from "attr(type) "]";
font-family:arial, helvetica, sans-serif;
font-style:italic;
font-size:10pt;
color:red;
}

linebreak {
content:"//";
font-family:arial, helvetica, sans-serif;
font-size:12pt;
color:gray;
}

eol {
content:"-/";
font-family:arial, helvetica, sans-serif;
font-size:12pt;
color:gray;
}

middleCase {
font-size:larger;
}

standardSpelling {
font-family:arial, helvetica, sans-serif;
font-size:12pt;
}

standardSpelling:before {
content:" <reg: "
}

standardSpelling:after {
content:"> "
}

expansion {
font-family:arial, helvetica, sans-serif;
font-size:12pt;
}

expansion:before {
content:" <reg: ";
}

expansion:after {
content:">";
}

editorialText:before {
content:"[The editor says: "; 
font-family:arial, helvetica, sans-serif;
font-size:10pt;
}

editorialText:after {
  content:" ]";
  font-family:arial, helvetica, sans-serif;
font-size:10pt;

}

punctuationVague {
color:red;
}*/